.uploadPage {
  margin: auto;
  min-height: 80vh;
}
h1 {
  margin: auto;
}
li {
  list-style: none;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
span {
  position: absolute;
  right: 2%;
  font-weight: bold;
  color: rgb(48, 9, 155);
  cursor: pointer;
}
p {
  display: flex;
}
